* {

 margin: 0;
 padding: 0;

}

body {

 background-color: rgb(238, 222, 222);
 width: 100vw;
 height: 100vh;
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;


}
 
 .container {
     /* background-color: aqua; */
     width: 95vw;
     height: 13vh;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     font-size: 20px;
}
 
button {

    background-color: rgb(231, 26, 26);
    width: 10vw;
    height: 8vh;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    color: white;
}

/* .contain {

    background-color: coral;
    width: vw;
    height: 13vh;
} */